@page
@model Shoep.Shop.Pages.CheckoutModel
@{
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Checkout</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="single-product.html">Checkout</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Checkout Area =================-->
<section class="checkout_area section_gap">
    <div class="container">
        <div class="cupon_area">
            <div class="check_title">
                <h2>Have a coupon?</h2>
            </div>
            <input type="text" placeholder="Enter coupon code">
            <a class="tp_btn" href="#">Apply Coupon</a>
        </div>
        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Billing Details</h3>
                    <form asp-page-handler="Checkout" method="post" class="row contact_form" id="checkoutForm" novalidate="novalidate">
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="first" asp-for="UserInfo.FirstName" placeholder="first name" value="@Model.UserInfo.FirstName">
                            <span data-placeholder="First name"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="last" asp-for="UserInfo.Lastname" placeholder="last name" value="@Model.UserInfo.Lastname">
                            <span data-placeholder="Last name"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="number" asp-for="UserInfo.PhoneNumber" placeholder="phone number" value="@Model.UserInfo.PhoneNumber">
                            <span data-placeholder="Phone number"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="email" asp-for="UserInfo.Email" placeholder="your email" value="@Model.UserInfo.Email">
                            <span data-placeholder="Email Address"></span>
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control" id="address" asp-for="UserInfo.AddressLine" placeholder="your address" value="@Model.UserInfo.AddressLine">
                            <span data-placeholder="Address"></span>
                        </div>
                        <div class="col-md-4 form-group p_star">
                            <input type="text" class="form-control" id="country" asp-for="UserInfo.Country" placeholder="your country">
                            <span data-placeholder="Email Address"></span>
                        </div>
                        <div class="col-md-4 form-group p_star">
                            <input type="text" class="form-control" id="state" asp-for="UserInfo.State" placeholder="your state">
                            <span data-placeholder="Email Address"></span>
                        </div>
                        <div class="col-md-4 form-group p_star">
                            <input type="text" class="form-control" id="zipcode" asp-for="UserInfo.ZipCode" placeholder="your zipcode">
                            <span data-placeholder="Email Address"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="card-name" asp-for="UserInfo.CardName" placeholder="card name">
                            <span data-placeholder="Card Name"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="card-number" asp-for="UserInfo.CardNumber" placeholder="card number">
                            <span data-placeholder="Card Number"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="expire" asp-for="UserInfo.Expiration" placeholder="expire">
                            <span data-placeholder="Expiration"></span>
                        </div>
                        <div class="col-md-6 form-group p_star">
                            <input type="text" class="form-control" id="cvv" asp-for="UserInfo.Cvv" placeholder="cvv">
                            <span data-placeholder="CVV"></span>
                        </div>

                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <h3>Noting</h3>
                            </div>
                            <textarea class="form-control"
                                id="message" rows="1" asp-for="UserInfo.Note"
                                      placeholder="Do you want to say something with us?">
                            </textarea>
                        </div>

                    </form>
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Your Order</h2>
                        <table class="table table-borderless">
                            <tbody>
                            @foreach (var cartItem in Model.Cart.Items)
                            {
                                <tr>
                                    <td class="pl-0 pr-0">
                                        <a asp-page="/ProductDetail" asp-route-code="@cartItem.ProductId" class="text-dark product-name">
                                            @cartItem.ProductName
                                        </a>
                                    </td>
                                    <td class="text-right pr-0">x @cartItem.Quantity</td>
                                    <td class="text-right pl-0 pr-0">$@(cartItem.Price * cartItem.Quantity)</td>
                                </tr>
                            }
                            </tbody>
                        </table>

                        <ul class="list list_2">
                            <li>
                                <a href="#">Subtotal <span>$@Model.Cart.TotalPrice</span></a>
                            </li>
                            <li>
                                <a href="#">Shipping <span>$5</span></a>
                            </li>
                            <li>
                                <a href="#">Discount <span>$50.00</span></a>
                            </li>
                            <li>
                                <a href="#">Total <span>$@(Model.Cart.TotalPrice + 5)</span></a>
                            </li>
                        </ul>
                        <div class="creat_account">
                            <input type="checkbox" id="f-option4" name="selector">
                            <label for="f-option4">I’ve read and accept the </label>
                            <a href="#">terms & conditions*</a>
                        </div>
                        <a class="primary-btn" href="#" id="proceedToPaypal">Proceed to Paypal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script>
    $(document).ready(function() {
        $('.product-name').each(function() {
            const maxLength = 20; 
            let text = $(this).text().trim();
            if (text.length > maxLength) {
                $(this).text(text.substring(0, maxLength) + '...');
            }
        });

        $('#proceedToPaypal').click(function (e) {
            e.preventDefault(); 
            $('#checkoutForm').submit();
        });
    });
</script>