@model Shoep.Management.Models.Auth.UserListViewModel

@{
    ViewData["Title"] = "User List";
}

<div class="container mt-4">
    <h2 class="mb-4">User List</h2>
    <a asp-controller="Users" asp-action="Create" class="btn btn-primary mb-3">Create New User</a>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FirstName @user.LastName</td>
                <td>@user.Email</td>
                <td>
                    <a asp-controller="Users" asp-action="Details" asp-route-id="@user.Id" class="btn btn-info btn-sm">Detail</a>
                    <a asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <!-- Pagination -->
    <nav>
        <ul class="pagination">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.CurrentPage - 1)" asp-route-pageSize="@Model.PageSize">Previous</a>
                </li>
            }

            @for (var i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@i" asp-route-pageSize="@Model.PageSize">@i</a>
                </li>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-pageNumber="@(Model.CurrentPage + 1)" asp-route-pageSize="@Model.PageSize">Next</a>
                </li>
            }
        </ul>
    </nav>
</div>